*, html {
    margin: 0;
    padding: 0;
}

#app {
    position: relative;
    /* background-color: red; */
    height: 1200px;
    width: 2100px;
    margin: 50px auto;
}

#board {
    background-color: beige;
    height: 1000px;
    width: inherit;
    border: 1px solid black;
}

#titleBoard {
    box-sizing: border-box;
    height: 100px;
    font-size: 70px;
    padding-top: 20px;
    text-align: center;
    /* background-color: blue; */
    letter-spacing: 10px;
}

#actionBoard {
    /* background: lightgreen; */
    height: 900px;
    width: inherit;
}

#thresh {
    box-sizing: border-box;
    position: relative;
    display: block;
    float: left;
    height: 70px;
    width: 200px;
    margin-left: 100px;
    margin-top: 30px;
    background: lightcoral;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    padding-top: 5px;
    border: 1px solid black;
    border-radius: 30px;
    outline: none;
}

#addButton {
    box-sizing: border-box;
    display: inline-block;
    height: 70px;
    width: 200px;
    margin-top: 30px;
    background: greenyellow;
    margin-left: 1450px;
    vertical-align: top;
    font-size: 30px;
    font-family: cursive;
    border: 1px solid black;
    border-radius: 30px;
    outline: none;
}

#question {
    display: block;
    height: 70px;
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    width: 200px;
    background: lightskyblue;
    border: 1px solid black;
    border-radius: 30px;
    outline: none;
}

#print {
    border-collapse: separate;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 70px;
    width: 200px;
    margin-top: 20px;
    background: yellowgreen;
    margin-left: 1450px;
    font-size: 30px;
    font-family: cursive;
    border: 1px solid black;
    border-radius: 30px;
    outline: none;
}

.title {
    box-sizing: border-box;
    height: 50px;
    width: 300px;
    text-align: center;
    font-size: 40px;
    letter-spacing: -3px;
    font-family: cursive;
}

.dayOfWeek {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    height: 870px;
    width: 300px;
    /* background: lightcoral; */
    margin-top: 15px;
    margin-right: -4px;
    border-right: 5px dashed rgb(241, 241, 144);
}

#actionBoard>.dayOfWeek:last-child {
    border-right: none;
}

#question:active, #thresh:active, #addButton:active, #print:active {
    position: relative;
    top: 3px;
}